/* Tablet */
@media only screen and (max-width: 1060px) {
    main {
        margin-top: 80px;
        padding: 20px;
    }

    #post-content {
        padding: 0px;
    }

    .main-wrapper {
        padding: 20px;
    }

    #mc_embed_signup {
        width: auto;
        display: inline-flex;
    }

    #mc_embed_signup #subscribe-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    #mc_embed_signup #subscribe-email-wrapper {
        margin-top: 20px;
    }

    #previous-next-links {
        margin-right: 120px;
        flex-direction: column;
    }

    #previous-next-links a:nth-child(2) {
        margin-top: 12px;
    }
}

/* Mobile */
@media only screen and (max-width: 440px) {
    #centered-logo-text h6 {
        font-size: 16px;
    }

    #centered-logo-text .subtitle1 {
        font-size: 14px;
    }

    #mc_embed_signup #subscribe-email-wrapper {
        flex-direction: column;
        width: 100%;
    }

    #shape-top {
        display: none;
    }

    #logo-wrapper {
        margin-top: 10px;
    }

    #post-content #logo-wrapper {
        margin-top: 60px;
    }

    main {
        margin-top: 0;
    }
    
    #shape-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    body {
        padding: 0;
        min-height: calc(100vh);
    }

    #post-content #post-header {
        margin-top: 20px;
    }

}

